/* mycss.css for gitHub*/

body {
  /*height: 100%;*/
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

/*body > #container {
height: auto;
}*/

#container {
  width: 900px;
  margin: 0 auto;
  padding: 0 5px;
  /* boxに影をつける　水平　垂直　ぼかし　広がり　色指定*/
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}

header {
  height: 60px;
  color: white;
  padding-left: 50px;
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  background-color: #00693e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #0e9430), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(#0e9430 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(#0e9430 50%, transparent 50%, transparent);
}

header img {
  margin: 3px 0 0 5px;
}

header h1 {
  display: inline-block;
  margin: 0 0 0 3px;
  padding: 0;
  vertical-align: middle;
  font-style: italic;
}

header h1 > p{
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0 0 5px;
}

header h1 > img {
  overflow: hidden;
  margin-right: 10px;
  padding: 5px;
}

header ul {
  float: right;
  list-style-type: none;

}

header ul > li {
  display: inline-block;
  margin: 25px 5px 0 0;
  padding: 3px;
  background: white;
  border-radius: 4px;
  /*スペース区切りで<水平方向の距離> <垂直方向の距離> <影のぼかし半径> <影の色>を指定*/
  text-shadow: 0 1px 0 #fff;
}

header ul > li:first-child {
  background: none;
  color: white;
}

header ul > li > a {
  text-decoration: none;
  color: black;
  display: block;
}

header ul > li > a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
  opacity: 0.5;
}

nav {
  border-top: 1px solid #fff;
  margin: 0 0px 10px 0;
  border-radius: 0 0 5px 5px;
  background-color: #00693e;

}

nav ul > li > a{
  color: white;
}

nav ul > li > a:hover{
  opacity: 0.8;
}

div .eyecatch {
  margin-bottom: 20px;
}

#main {
  margin-left: auto;
  margin-right: auto;
  width: 860px;
}

.row {
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  margin-bottom: 10px;
}

.row:last-child {
  margin-top: 10px;
  border: none;
}

.row h3 {
  overflow: hidden;
  margin: 5px 0 5px 0 ;
  padding: 0 0 0 5px;
  font-size: 20px;
  border-left: 5px solid #ccc;
}

.left_img {
  float: left;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;

}

.right_text{
  float: left;
  font-size: 15px;
  margin-bottom: 0 0 15px 15px;
}

.right_text p{
  width: 660px;
  margin: 0 0 30px 0;
}

footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  -webkit-background-size: 4px 4px;
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  background-color: #00693e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #0e9430), color-stop(.5, transparent), to(transparent));
  background-image: -moz-linear-gradient(#0e9430 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(#0e9430 50%, transparent 50%, transparent);
}

footer p {
  color: #fff;
  margin: 0;
  padding: 0;
}

#back-to-top {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

#back-to-top > a{
  color: green;
  text-decoration: none;
}

#frame {
  overflow: hidden;
}

#sidebar{
  float: right;
  width: 170px;
}
#sidebar h4{
  width: 170px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
  background: #00693e;
  color: white;
}

#sidebar ul {
  width: 170px;
  margin: 5px 0 0 0;
  padding: 0;
  list-style-type: none;
}

#sidebar ul > li{
  width: 170px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

#sidebar ul > li:hover {
  background: #eeeeee;
  opacity: 0.8;
  border-radius: 5px;
}
#sidebar ul > li > a{
  text-align: left;
  padding-left: 55px;
  width: 170px;
  text-decoration: none;
  display: block;
  color: green;
}

div.form-group.col-md-5 {
  margin-right: 400px;
}

div.form-group.col-md-9 {
  margin-right: 200px;
}

#contact button.btn.btn-primary {
  margin: 10px 0 25px 15px;
}

/* * * * * * contact.html * * * * */

#contact {
  width: 700px;
  float: left;
}

#contact h3 {
  background: #00693e;
  text-align: center;
  color: white;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 10px;
}

/* * * * * * club.html * * * * */

#club_data {
  width: 700px;
  float: left;
}

div#club_eyecatch {
  background: url('../img/club_data.jpg') no-repeat;
  width: 700px;
  height: 200px;
  background-size: cover;
  float: left;
}

#club_eyecatch img {
  width: 700px;
  float: left;
  padding: 0;
  margin: 0;
  width: 700px;
}

#club_eyecatch h4 {
  color: white;
  font-weight: bold;
  padding: 165px 0 0 5px;
}

iframe #stadium_map {
  margin-top: 5px;
}

#ground_link {
  color: green;
}

#ground_link:hover {
  color: green;
  text-decoration: none;
}

#table_title {
  background: #00693e;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  width: 150px;
}

th#for_width.dothesort {
  width: 150px;
}

.player a{
  color: green;
}

.player a:hover {
  color: green;
  text-decoration: none;
}

span.arrow:hover {
  cursor: pointer;
}

/* * * * * * club.html * * * * */

#chant_main {
  width: 700px;
  float: left;
}

div#chant_index {
  width: 500px;
  height: auto;
  margin-left: 100px;
  margin-bottom: 20px;
}

#chant_main h3, #chant_index h4{
  background: #00693e;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 40px;
  margin: 0 0 10px 0;
  padding-top: 7px;
  vertical-align: bottom;
}

#chant_index h4{
  height: 30px;
  width: 200px;
  margin: 5px 0 10px 150px;
  overflow: hidden;
  float: left;
  clear: both;
  border-radius: 5px;
}

.index_close {
  width: 70px;
  height: 20px;
  float: right;
  text-align: right;
  margin:10px 10px 0 0;
}

.index_close label {
  cursor: pointer;
  margin: 0;
  background-color: #707070;
  border-radius: 5px;
  padding: 3px;
  color: #fff;
}

input {
  display: none;
}

div.panel {
  background: #eee;
  min-height: 40px;
  margin: 0;
  padding: 10px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow:rgba(102, 102, 102, 0.498039) 2px 2px 0px 4px;
}
.panel_list {
  clear: both;
  list-style-type: none;
  width: 200px;
  margin: 0 0 0 150px;
}

.panel_list > li {
  margin-top: 5px;
}

.panel_list > li > a {
  text-decoration: none;
  color: green;
}

.chant_title{
  width: 30%;
  font-weight: bold;
  font-size: 15px;
  background-color: #eee;
  height: 30px;
  border-bottom: green 1px solid ;
  border-left: green 5px solid ;
  padding: 5px 0 0 10px;
  border-radius: 10px 10px 0 0;
  margin-top: 40px;
}

div.embed-responsive.embed-responsive-16by9{
  margin-left: 70px;
}

#chant_contents {
  width: 600px;
  margin-left: 50px;
}

#chant_contents p{
  font-style: oblique;
  text-align: center;
  margin-top: 10px;
}

/* * * * * * news.html * * * * * * */
#nwes {
  width: 700px;
  float: left;
}

div.panel{
  margin-top: 2px;
}

#news {
  float: left;
  width: 690px;
  margin: 0 0 10px 10px;
}

.list-group-item > span {
  background-color: #00693e;
}

.list-group-item:hover {
  opacity: 0.7;
  background-color: #dddddd;
}

div.panel-heading {
  font-weight: bold;
  font-family: serif;
  margin-bottom: 5px;
}

.list-group > a {
  color: black;
}

.list-group > a:hover {
  text-decoration: none;
  color: black;
}

.panel-footer nav {
  width: 670px;
  height: 40px;
  background-color: #eeeeee;
  margin: 0;
}
div.panel-footer {
  margin-top: 10px;
  padding: 0 0 20px 0;
  text-align: center;
  height: 40px;
  line-height: 50px;
}

ul.pagination {
  margin-top: 8px;
}
